*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.my-container{
    display: flex;
    height: calc(100vh - 56px);
}

header{
    width: 100%;
    height: 56px;
}

aside{
    width: 50px;
    height: 100%;
}

main{
    height: 100%;
    width: calc(100vw - 56px);
    overflow-y: scroll;
}

/*Utility*/

.background-dark-blue{
    background-color: rgba(5,30,52,255);
}

.background-badge-blue{
    background-color: rgba(22,91,186,255);
}

.background-blue{
    background-color: rgba(27,114,232,255);
}

.background-header{
    background-color: rgba(248,249,250,255);
}

.color-white{
    color: white;
}

.color-black{
    color: black;
}

.width-50{
    width: 50%;
}

.font-size-12{
    font-size: 12px;
}

#align-left{
    text-align: left;
}

.height-full{
    height: 100%;
}

#side-padding{
    padding-left: 0;
}

.fit-content{
    width: 35px;
}

.color-orange{
    color: orange;
}

.width-65{
    width: 65vw;
}

.margin-left-15{
    margin-left: 15px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

/*Misc*/

table img{
    width: 20px;
}

#stats{
    width: 100%;
}

#offcanvasRight{
    width: 100%;
}

.search-label{
    background-color: white;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-right: 0px;
}

.search-bar{
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* Hover */

.hover-side:hover{
    background-color: rgb(146, 145, 145);
}

tr:hover{
    background-color: rgb(215, 245, 255);
}

/*Media Query*/

@media screen and (min-width: 992px){
    
    aside{
        width: 150px;
    }

    main{
        width: calc(100vw-150px);
    }

    #offcanvasRight{
        width: 50%;
    }    

}